<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApplicationAutoLoggerFilePath" value="AppLogs.log" />
    <add key="ServiceUpdaterLogFilePath" value="ServiceUpdater.txt" />
    <add key="BackupPath" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" />
    <add key="MsBuildPath" value="C:\ServiceBackups" />
    <add key="ListeningPort" value="5468" />
    <add key="ListeningAddress" value="localhost" />
    <add key="StartPriority" value="Normal" />
  </appSettings>
</configuration>