<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net472" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net472" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net472" developmentDependency="true" />
</packages>